<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="container">
            <img src="/images/logo.png" class="img-fluid" alt="CNH na mao logo" width="50%">
            <form action="/submit" method="POST">
                <!-- <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="">
                </div> -->
                <!-- <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="">
                </div> -->
                <!-- <div class="mb-3">
                    <label for="phone" class="form-label">WhatsApp</label>
                    <input type="tel" class="form-control form-control-lg" name="phone" id="phone"
                        placeholder="00-00000-0000" pattern="[0-9]{11}" required>
                </div> -->




                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">DDD</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>






                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control form-control-lg" name="cpf" id="cpf" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= status.Pausado %>" name="status"
                            id="status" checked>
                        <label class="form-check-label" for="status">
                            Pausado
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= status.Ativo %>" name="status"
                            id="status" disabled>
                        <label class="form-check-label" for="status">
                            Ativo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= status.Inativo %>" name="status"
                            id="status" disabled>
                        <label class="form-check-label" for="status">
                            Inativo
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoria</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= category.A %>" name="category"
                            id="category" checked>
                        <label class="form-check-label" for="category">
                            "A" (Moto)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= category.B %>" name="category"
                            id="category">
                        <label class="form-check-label" for="category">
                            "B" (Carro)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= category.AB %>" name="category"
                            id="category">
                        <label class="form-check-label" for="category">
                            "A" e "B" (Carro e moto)
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="vehicle" class="form-label">Veículo</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= vehicle.Proprio %>" name="vehicle"
                            id="vehicle" checked>
                        <label class="form-check-label" for="vehicle">
                            Veículo próprio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= vehicle.Aluno %>" name="vehicle"
                            id="vehicle">
                        <label class="form-check-label" for="vehicle">
                            Veículo do aluno
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="<%= vehicle.Ambos %>" name="vehicle"
                            id="vehicle">
                        <label class="form-check-label" for="vehicle">
                            Veículo próprio ou do aluno (a combinar)
                        </label>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="state" class="form-label">Estado selecionado:</label>
                    <input class="form-control" type="text" name="state"
                        value="<%= cities[0].microrregiao.mesorregiao.UF.nome %>"
                        aria-label="<%= cities[0].microrregiao.mesorregiao.UF.nome %>" readonly>
                </div>
                <div class="mb-3">
                    <a class="btn btn-primary mb-3" href="/pre_cadastro" role="button">Alterar Estado (UF)</a>
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">Cidade</label>
                    <select name="city" id="city" class="form-control">
                        <option value="">Selecione a cidade</option>
                        <% cities.forEach(item=> { %>
                            <option value="<%= item.nome %>">
                                <%= item.nome %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>