<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to CNH Hands On Page</p>
            <h3>
                <%= titulo %>
            </h3>
            <form action="/submit" method="POST">
                <label>Nome:</label>
                <input type="text" name="name" value="<%= typeof name !== 'undefined' ? name : '' %>">

                <label>Email:</label>
                <input type="email" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>">

                <label>Phone:</label>
                <input type="text" name="phone" value="<%= typeof phone !== 'undefined' ? phone : '' %>">

                <label>CPF:</label>
                <input type="text" name="cpf" value="<%= typeof cpf !== 'undefined' ? cpf : '' %>">

                <label>Category:</label>
                <input type="text" name="category" value="<%= typeof category !== 'undefined' ? category : '' %>">

                <label>Vehicle:</label>
                <input type="text" name="vehicle" value="<%= typeof vehicle !== 'undefined' ? vehicle : '' %>">

                <label>State:</label>
                <input type="text" name="state" value="<%= typeof state !== 'undefined' ? state : '' %>">

                <label>City:</label>
                <input type="text" name="city" value="<%= typeof city !== 'undefined' ? city : '' %>">

                <button type="submit">Enviar</button>
            </form>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>