<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <!-- <header>
        <%- include('../partials/header'); %>
    </header> -->
    <main>
        <div class="container">
            <img src="/images/logo.png" class="img-fluid" alt="CNH na mao logo" width="50%">
            <form action="/form2" method="GET">
                <legend>Selecione o Estado (UF)</legend>

                <div class="mb-3">
                    <select name="state" id="state" class="form-control form-control-lg">
                        <% uf.forEach(item=> { %>
                            <option value="<%= item.id %>">
                                <%= item.nome %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>

            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>