<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div class="container">           

            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Status</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Veículo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(item=> { %>
                        <tr>
                            <th scope="row">
                                <%= item.name %>
                            </th>                            
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.phone %>
                            </td>
                            <td>
                                <%= item.cpf %>
                            </td>
                            <td>
                                <%= item.status %>
                            </td>
                            <td>
                                <%= item.category %>
                            </td>
                            <td>
                                <%= item.vehicle %>
                            </td>
                            <td>
                                <%= item.state %>
                            </td>
                            <td>
                                <%= item.city %>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>

        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>