<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <!-- <header>
        <%- include('../partials/header'); %>
    </header> -->
    <main>
        <div class="container">
            <hr>            
            <img src="/images/logo-glass-2.png" class="img-fluid" alt="CNH na mao logo com lupa" width="50%">
            <hr>
            <form action="/busca" method="GET" class="row g-3">

                <div class="col-md-12">
                    <label for="state" class="form-label">Estado</label>
                    <select name="state" id="state" class="form-select" required>
                        <option selected disabled value="">Selecione o Estado</option>
                        <% uf.forEach(item=> { %>
                            <option value="<%= item.id %>">
                                <%= item.nome %>
                            </option>
                            <% }) %>
                    </select>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-success btn-lg shadow">Continuar</button>
                </div>
            </form>
            
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>